#main__about{
    border-top:1px dashed #969696;
}

#main__about p{
    margin-top:30px;
    font-size:20px;
    line-height:30px;
}

#main__about h3{
    margin-top:50px;
    font-size:30px;
}

.team__student, .team__mentor{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-bottom:20px;
}

.mentor__circle, .student__circle{
    width:200px;
    height:200px;
    border-radius: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:40px 20px 0 0;
}

.student__circle{
     background-color: #0D47A1;
}

.mentor__circle{
    background-color: #004D40;
}

.mentor__circle span, .student__circle span{
    font-size:25px;
    color:#FFFFFF;
    font-weight:600;
    margin-bottom: 20px;
}

.team__link{
    display:flex;
}

.team__link a{
    height:30px;
    width:30px;
    margin:0 10px;
}

.team__link a img{
    height:25px;
    width:25px;
}
