#sidebar{
    position:fixed;
    height:100%;
    top:0;
    left:0;
    z-index: 1;
    flex-direction: column;
    justify-content: space-around;
    padding-left:30px;
    padding-top:50px;
}

#nav__home-btn{
    font-size:20px;
    font-weight:400;
    color: #969696;
    margin-top:20px;
}

#nav__home-btn:hover{
    color:#2979FF;
}

.nav{
    display:flex;
    flex-direction: column;
}


nav .nav-item{
    margin-bottom:20px;
}

.nav-item {
    color: #969696;
    font-size:20px;
    font-weight:400;
}

.nav-item a{
    color: #969696;
}

.nav-item a.active{
    color:#2979FF;
}

.nav-item a:hover{
    color:#2979FF;
}