#main__overview{
    color:#212121;
    padding-right:40px;
    border-top:1px dashed #212121;
    border-bottom:1px dashed #212121;
    background-color:#212121;
    color:#FFFFFF;
}
#main__overview h3{
    margin-top:30px;
    font-size:25px;
    font-weight:700;
    margin-bottom:30px;
}

#main__overview h3#problemState{
    margin-top:100px;
}

#main__overview h1{
    margin-top:50px;
    font-size:45px;
    line-height:50px;
    font-style:italic;
    text-align: center;
    font-weight:600;
    margin-bottom:100px;
}


#main__overview p{
    font-size:20px;
    line-height:30px;
}

#main__overview .row{
    justify-content: center;
    margin-top:30px;
}

.scope__column{
    height:200px;
    margin: 10px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:60px;
}

.scope__column img{
    max-width:90%;
    height: 150px;
}

.scope__column h4{
    margin-top:30px;
    font-size: 20px;
    text-align:center;
}