@media screen and (min-width:991px){
    #navigation{
        width:100%;
    }

    .main__section{
        border-left:1px solid #DDDDDD;
    }
}

@media screen and (max-width:991px){
    #navigation{
        display:none;
    }
    .main__section{
        border-left:none;
    }
}
